main {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.card {
  border-radius: 0.5rem;
  width: 315px;

  margin: 1.5rem auto;
  padding: 1rem 1rem;
}

.card__rating,
.card__comprehension,
.card__motto,
.card__notes {
  margin-bottom: 1rem;
}

.card__rectangle {
  width: 22px;
  height: 22px;
}

.card__rectangles {
  width: 274px;
  display: flex;
  justify-content: space-between;
}

.card__star {
  width: 24.82px;
  height: 23.63px;
}

.card__stars {
  display: flex;
  justify-content: space-between;
  width: 205px;
}

.card__star,
.card__rectangle {
  padding: 0 2px;
}

.card__notes {
  width: 275px;
}

.card > p {
  padding-bottom: 1.5rem;
}
