.buddy-card {
  width: 315px;
  height: 116px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.buddy-card__item {
  height: 58px;
  margin: 18px auto;
}

.buddy-card__line {
  border-bottom: 1px solid var(--primary-200);
  transform: translate(0, 50%);
  bottom: 5px;
  width: 100%;
}

.buddy-card__plus {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
