.buddy-card {
  width: 315px;
  height: 116px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buddy-card__item {
  height: 58px;
  margin: 18px auto;
}

.buddy-card__line {
  border-bottom: 1px solid var(--primary-200);
  bottom: 5px;
  width: 100%;
}
