.energy__card {
  width: 315px;
  margin: 0 auto;
  padding: 0;
}

.energy__button {
  width: 315px;
  height: 48px;
  margin: 0 auto 10px auto;
  display: block;
  border-radius: 5px;
  border: none;
  line-height: 1.5rem;
}

.energy__button--100 {
  background-color: var(--secondary-400);
  color: white;
  letter-spacing: 0.1em;
}

.energy__button--75 {
  background-color: var(--secondary-300);
  color: white;
  letter-spacing: 0.1em;
}

.energy__button--50 {
  background-color: var(--secondary-200);
  color: var(--secondary-400);
  letter-spacing: 0.1em;
}
.energy__button--25 {
  background-color: var(--secondary-100);
  color: var(--secondary-400);
  letter-spacing: 0.1em;
}

.energy__chart {
  width: 315px;
  height: 208px;
  display: grid;
  grid-template-columns: repeat(315, 1px);
  grid-template-rows: repeat(208, 1px);
}

[class*="energy__percent"] {
  grid-column: 1 / span 32;
}

.energy__percent100 {
  grid-row: 1 / span 18;
}

.energy__percent75 {
  grid-row: 43 / span 18;
}

.energy__percent50 {
  grid-row: 85 / span 18;
}

.energy__percent25 {
  grid-row: 127 / span 18;
}

.energy__percent0 {
  grid-row: 169 / span 18;
}

[class*="energy__time"] {
  grid-row: 191 / span 18;
}

.energy__time1 {
  grid-column: 47 / span 31;
}

.energy__time2 {
  grid-column: 104 / span 31;
}

.energy__time3 {
  grid-column: 161 / span 31;
}

.energy__time4 {
  grid-column: 218 / span 31;
}

.energy__time5 {
  grid-column: 275 / span 31;
}

[class*="energy__line"] {
  grid-column: 37 / span 279;
  background-color: #e0e4e8;
}

.energy__line1 {
  grid-row: 14 / span 1;
}

.energy__line2 {
  grid-row: 56 / span 1;
}

.energy__line3 {
  grid-row: 98 / span 1;
}

.energy__line4 {
  grid-row: 140 / span 1;
}

.energy__line5 {
  grid-row: span 1 / -26;
}

.energy__bars {
  width: 260px;
  height: 176px;
  display: grid;
  grid-template-columns: repeat(260, 1px);
  grid-template-rows: repeat(176, 1px);
  grid-row: 7 / span 176;
  grid-column: 46 / span 260;
}

.energy__bars .energy__bar:nth-child(odd) {
  background-color: #ff5a36;
  border-radius: 8px 8px 0 0;
}

.energy__bars .energy__bar:nth-child(even) {
  background-color: #193251;
  border-radius: 8px 8px 0 0;
}

.energy__bar1 {
  grid-row: 1 / -1;
  grid-column: 5 / span 12;
}

.energy__bar2 {
  grid-row: 22 / -1;
  grid-column: 17 / span 12;
}

.energy__bar3 {
  grid-row: 45 / -1;
  grid-column: 62 / span 12;
}

.energy__bar4 {
  grid-row: 28 / -1;
  grid-column: 74 / span 12;
}

.energy__bar5 {
  grid-row: 19 / -1;
  grid-column: 119 / span 12;
}

.energy__bar6 {
  grid-row: 67 / -1;
  grid-column: 131 / span 12;
}

.energy__bar7 {
  grid-row: 104 / -1;
  grid-column: 176 / span 12;
}

.energy__bar8 {
  grid-row: 81 / -1;
  grid-column: 188 / span 12;
}

.energy__bar9 {
  grid-row: 129 / -1;
  grid-column: 233 / span 12;
}

.energy__bar10 {
  grid-row: 143 / -1;
  grid-column: 245 / span 12;
}

.energy__legend {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.energy__students {
  width: 106px;
  height: 20px;
  background-color: #193251;
  border-radius: 3px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.energy__you {
  width: 42px;
  height: 20px;
  background-color: #ffded7;
  border-radius: 3px;
  color: #ff5a36;
  display: flex;
  justify-content: center;
  align-items: center;
}

.energy__level {
  width: 315px;
  margin: 90px auto 31px auto;
}

.energy__level > p {
  margin-bottom: 10px;
}
