.header {
  background: no-repeat url(../../images/background_shape_1.svg);
  background-size: 100%;
  height: 100px;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
