.team-card__container {
  margin-bottom: 30px;
}

.team-card__heading {
  width: 315px;
  margin: 0 auto;
}

.team-card {
  width: 315px;
  height: 232px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-card__item {
  height: 58px;
  margin: 18px auto;
}

.team-card__line {
  border-bottom: 1px solid var(--primary-200);
  bottom: 5px;
  width: 100%;
}
